In [12]:
import pandas as pd
# Load the CSV file
df = pd.read_csv("data/financials_raw.csv", encoding="ISO-8859-1")

/var/folders/wk/s65gzdnd2zq9zgz4swg1smsw0000gn/T/ipykernel_3278/3802505117.py:3: DtypeWarning: Columns (3,4,8,10,12) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("data/financials_raw.csv", encoding="ISO-8859-1")

In [13]:
# Display the column names
print(df.columns)

Index(['ENTITY_CURRENCY', 'CURRENCY', 'EXCHANGE_RATE', 'SOLD_TO_CITY',
       'SOLD_TO_COUNTRY', 'INVOICE_DATE', 'INVOICE_YEAR', 'INVOICE_MONTH',
       'UNIT_OF_MEASURE', 'INV_LINE_SEQ__CRM_USAGE_ONLY_', 'ITEM_CODE',
       'ITEM_EU_FAMILY', 'IS_INTERCO_FLAG', 'INVOICED_QUANTITY',
       'INVOICE_LIST_PRICE', 'INVOICE_PRICE', 'INVOICE_STD_COST',
       'ITEM_MATERIAL_COST', 'ITEM_LABOR_COST', 'ITEM_BURDEN_COST',
       'ITEM_OVERHEAD_COST', 'ITEM_SUBCONTRACTING_COST', 'ITEM_STANDARD_COST',
       'SALES_FUNCTIONAL_CURRENCY', 'COGS', 'GROSS_AMOUNT', 'DISCOUNT_AMOUNT',
       'FY', 'Financial Period', 'FY Period', 'EntityID', 'InvoiceID',
       'SoldToID', 'ItemCodeID', 'Multiplicator'],
      dtype='object')

In [14]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6439207 entries, 0 to 6439206
Data columns (total 35 columns):
 #   Column                         Dtype
---  ------                         -----
 0   ENTITY_CURRENCY                object
 1   CURRENCY                       object
 2   EXCHANGE_RATE                  float64
 3   SOLD_TO_CITY                   object
 4   SOLD_TO_COUNTRY                object
 5   INVOICE_DATE                   object
 6   INVOICE_YEAR                   int64
 7   INVOICE_MONTH                  int64
 8   UNIT_OF_MEASURE                object
 9   INV_LINE_SEQ__CRM_USAGE_ONLY_  float64
 10  ITEM_CODE                      object
 11  ITEM_EU_FAMILY                 float64
 12  IS_INTERCO_FLAG                object
 13  INVOICED_QUANTITY              float64
 14  INVOICE_LIST_PRICE             float64
 15  INVOICE_PRICE                  float64
 16  INVOICE_STD_COST               float64
 17  ITEM_MATERIAL_COST             float64
 18  ITEM_LABOR_COST                float64
 19  ITEM_BURDEN_COST               float64
 20  ITEM_OVERHEAD_COST             float64
 21  ITEM_SUBCONTRACTING_COST       float64
 22  ITEM_STANDARD_COST             float64
 23  SALES_FUNCTIONAL_CURRENCY      float64
 24  COGS                           float64
 25  GROSS_AMOUNT                   float64
 26  DISCOUNT_AMOUNT                float64
 27  FY                             object
 28  Financial Period               object
 29  FY Period                      object
 30  EntityID                       int64
 31  InvoiceID                      int64
 32  SoldToID                       int64
 33  ItemCodeID                     int64
 34  Multiplicator                  float64
dtypes: float64(18), int64(6), object(11)
memory usage: 1.7+ GB
None

In [15]:
# Total GROSS_AMOUNT by INVOICE_MONTH AND INVOICE_YEAR, as int, formatted as $#,###,###.##
# Also the count of invoices for each month and year
total_gross_amount = (
    df.groupby(["INVOICE_MONTH", "INVOICE_YEAR"])
    .agg(
        GROSS_AMOUNT=("GROSS_AMOUNT", "sum"),
        INVOICE_COUNT=("INVOICED_QUANTITY", "sum"),
    )
    .reset_index()
)
total_gross_amount['GROSS_AMOUNT'] = total_gross_amount['GROSS_AMOUNT'].apply(lambda x: f"${x:,.2f}")
total_gross_amount['INVOICE_COUNT'] = total_gross_amount['INVOICE_COUNT'].astype(int)

# sort by INVOICE_YEAR and INVOICE_MONTH
total_gross_amount = total_gross_amount.sort_values(by=["INVOICE_YEAR", "INVOICE_MONTH"])
print(total_gross_amount)

    INVOICE_MONTH  INVOICE_YEAR     GROSS_AMOUNT  INVOICE_COUNT
26             11          2020       $12,585.31           2042
29             12          2020  $213,571,032.10        1769806
0               1          2021  $174,887,648.00        1370200
3               2          2021  $183,058,237.85        1055032
6               3          2021  $218,297,981.31        1132935
9               4          2021  $218,547,705.31        1013208
12              5          2021  $187,152,210.72         919287
15              6          2021       $41,608.57             21
30             12          2021  $193,484,742.68         880759
1               1          2022  $215,569,187.28         834138
4               2          2022  $204,574,156.10         828166
7               3          2022  $205,778,009.24        1003299
10              4          2022  $190,809,688.94         752260
13              5          2022  $180,731,558.45         907737
16              6          2022  $191,227,232.01         772114
18              7          2022  $196,726,283.87         642068
20              8          2022  $166,622,116.35         661069
22              9          2022  $177,602,247.24         735332
24             10          2022  $179,465,803.52         730585
27             11          2022  $225,152,055.96         701389
31             12          2022  $162,929,536.88         629520
2               1          2023  $187,559,832.55         777808
5               2          2023  $202,968,337.98         810422
8               3          2023  $206,917,604.38         822664
11              4          2023  $149,339,422.60         549457
14              5          2023  $181,602,267.46         638026
17              6          2023  $194,377,529.94         697792
19              7          2023  $167,946,598.87         609156
21              8          2023  $186,510,495.56         740135
23              9          2023  $175,745,033.77         700419
25             10          2023  $205,347,650.96         671841
28             11          2023  $200,778,218.28         646410
32             12          2023          $370.15              2

In [16]:
# Filter by sales in SPAIN
spain_sales = df[df["SOLD_TO_COUNTRY"] == "SPAIN"]

# Total GROSS_AMOUNT by INVOICE_MONTH AND INVOICE_YEAR, as int, formatted as $#,###,###.##
# Also the count of invoices for each month and year
spain_total_gross_amount = (
    spain_sales.groupby(["INVOICE_MONTH", "INVOICE_YEAR"])
    .agg(
        GROSS_AMOUNT=("GROSS_AMOUNT", "sum"),
        INVOICE_COUNT=("INVOICED_QUANTITY", "sum"),
    )
    .reset_index()
)
spain_total_gross_amount['GROSS_AMOUNT'] = spain_total_gross_amount['GROSS_AMOUNT'].apply(lambda x: f"${x:,.2f}")
spain_total_gross_amount['INVOICE_COUNT'] = spain_total_gross_amount['INVOICE_COUNT'].astype(int)

# sort by INVOICE_YEAR and INVOICE_MONTH
spain_total_gross_amount = spain_total_gross_amount.sort_values(by=["INVOICE_YEAR", "INVOICE_MONTH"])
print(spain_total_gross_amount)

    INVOICE_MONTH  INVOICE_YEAR   GROSS_AMOUNT  INVOICE_COUNT
28             12          2020  $3,236,168.04          14932
0               1          2021  $4,145,849.44          10283
3               2          2021  $3,600,682.67          12931
6               3          2021  $3,704,253.79          16454
9               4          2021  $6,413,732.35          23237
12              5          2021  $5,016,890.23          14501
15              6          2021        $100.96              2
29             12          2021  $6,537,842.84          19488
1               1          2022  $6,487,902.66          16394
4               2          2022  $3,966,055.53          16294
7               3          2022  $7,056,941.51          16749
10              4          2022  $3,880,280.38          15006
13              5          2022  $4,053,337.12          17046
16              6          2022  $5,539,376.05          12536
18              7          2022  $3,451,685.63          12652
20              8          2022  $3,293,526.15          10207
22              9          2022  $3,397,056.46          14443
24             10          2022  $4,011,630.99          13304
26             11          2022  $4,749,034.24          14556
30             12          2022  $3,389,657.49          13378
2               1          2023  $5,087,153.36          14649
5               2          2023  $4,385,682.51          30601
8               3          2023  $5,415,511.03          11437
11              4          2023  $3,125,102.76           8629
14              5          2023  $5,390,687.46          13746
17              6          2023  $5,573,925.70          13741
19              7          2023  $3,716,148.13          12963
21              8          2023  $6,009,843.58          11121
23              9          2023  $4,379,736.47          11476
25             10          2023  $3,040,613.68          10752
27             11          2023  $4,410,770.42          10674

In [17]:
# Get the breakdown of sales by SOLD_TO_CITY, by ITEM_CODE, by ITEM_EU_FAMILY and by SoldToID in SPAIN for INVOICE_YEAR 2023 INVOICE_MONTH 11
# each in a separate DataFrame, sorted by GROSS_AMOUNT in descending order
spain_sales_2023_11 = spain_sales[(spain_sales["INVOICE_YEAR"] == 2023) & (spain_sales["INVOICE_MONTH"] == 11)]
spain_sales_by_city = (
    spain_sales_2023_11.groupby("SOLD_TO_CITY")
    .agg(
        GROSS_AMOUNT=("GROSS_AMOUNT", "sum"),
        INVOICE_COUNT=("INVOICED_QUANTITY", "sum"),
    )
    .reset_index()
)
spain_sales_by_city = spain_sales_by_city.sort_values(
    by="GROSS_AMOUNT", ascending=False
)
spain_sales_by_city['GROSS_AMOUNT'] = spain_sales_by_city['GROSS_AMOUNT'].apply(lambda x: f"${x:,.2f}")
spain_sales_by_city['INVOICE_COUNT'] = spain_sales_by_city['INVOICE_COUNT'].astype(int)
print(spain_sales_by_city)

spain_sales_by_item = (
    spain_sales_2023_11.groupby("ITEM_CODE")
    .agg(
        GROSS_AMOUNT=("GROSS_AMOUNT", "sum"),
        INVOICE_COUNT=("INVOICED_QUANTITY", "sum"),
    )
    .reset_index()
)
spain_sales_by_item = spain_sales_by_item.sort_values(
    by="GROSS_AMOUNT", ascending=False
)
spain_sales_by_item['GROSS_AMOUNT'] = spain_sales_by_item['GROSS_AMOUNT'].apply(lambda x: f"${x:,.2f}")
spain_sales_by_item['INVOICE_COUNT'] = spain_sales_by_item['INVOICE_COUNT'].astype(int)
print(spain_sales_by_item)

spain_sales_by_item_family = (
    spain_sales_2023_11.groupby("ITEM_EU_FAMILY")
    .agg(
        GROSS_AMOUNT=("GROSS_AMOUNT", "sum"),
        INVOICE_COUNT=("INVOICED_QUANTITY", "sum"),
    )
    .reset_index()
)
spain_sales_by_item_family = spain_sales_by_item_family.sort_values(
    by="GROSS_AMOUNT", ascending=False
)
spain_sales_by_item_family['GROSS_AMOUNT'] = spain_sales_by_item_family['GROSS_AMOUNT'].apply(lambda x: f"${x:,.2f}")
spain_sales_by_item_family['INVOICE_COUNT'] = spain_sales_by_item_family['INVOICE_COUNT'].astype(int)
print(spain_sales_by_item_family)

spain_sales_by_sold_to_id = (
    spain_sales_2023_11.groupby("SoldToID")
    .agg(
        GROSS_AMOUNT=("GROSS_AMOUNT", "sum"),
        INVOICE_COUNT=("INVOICED_QUANTITY", "sum"),
    )
    .reset_index()
)
spain_sales_by_sold_to_id = spain_sales_by_sold_to_id.sort_values(
    by="GROSS_AMOUNT", ascending=False
)
spain_sales_by_sold_to_id['GROSS_AMOUNT'] = spain_sales_by_sold_to_id['GROSS_AMOUNT'].apply(lambda x: f"${x:,.2f}")
spain_sales_by_sold_to_id['INVOICE_COUNT'] = spain_sales_by_sold_to_id['INVOICE_COUNT'].astype(int)
print(spain_sales_by_sold_to_id)

             SOLD_TO_CITY   GROSS_AMOUNT  INVOICE_COUNT
219              VALENCIA  $2,167,665.75           4096
115                MADRID    $275,592.07            590
31              BARCELONA    $169,765.27            310
153              PAMPLONA    $106,888.10            213
101   LAS ROZAS DE MADRID     $94,361.52            106
..                    ...            ...            ...
15   ALHAURIN DE LA TORRE          $0.00              4
129              MENGIBAR          $0.00              6
223        VENTA DE BANOS          $0.00              1
70          ESPARRAGALEJO         $-2.53              2
145        OLESA DE MONT.        $-38.28              1

[244 rows x 3 columns]
         ITEM_CODE   GROSS_AMOUNT  INVOICE_COUNT
579  COMMI-ES1-BTB  $1,176,778.68              2
37            1160    $183,795.49             12
36            1159    $131,418.22             21
602      DV1672720    $101,030.00             85
438        1656220     $89,873.42             69
..             ...            ...            ...
531       60124431          $0.00              1
920      SP1644958          $0.00              1
183        1520415          $0.00              1
916      SP1642566          $0.00              1
580  DISCOUNT-9981     $-6,301.34           2047

[1050 rows x 3 columns]
    ITEM_EU_FAMILY   GROSS_AMOUNT  INVOICE_COUNT
15          9100.0  $1,234,526.39           2073
5           2200.0    $536,089.57            370
0           1000.0    $436,779.85             67
9           4000.0    $381,794.14            842
4           2100.0    $374,149.29           1008
1           1100.0    $318,621.91            162
10          5000.0    $270,844.42            806
3           2000.0    $226,417.97             60
13          8000.0    $182,549.17           2946
2           1500.0    $137,345.12             82
7           3000.0    $106,121.82           1164
11          7000.0     $97,784.99            505
6           2300.0     $46,780.83            215
12          7500.0     $19,198.62            303
14          8500.0      $2,706.60             56
8           3500.0        $261.93              6
     SoldToID   GROSS_AMOUNT  INVOICE_COUNT
399     17579  $1,239,757.23             10
339     15091    $372,274.21           1762
42       2629    $297,527.69           1287
451     20004     $98,585.00             95
371     16258     $94,361.52            106
..        ...            ...            ...
344     15440          $0.00              4
418     18501          $0.00              2
288     13085          $0.00              1
354     15712         $-2.53              2
143      6625        $-38.28              1

[462 rows x 3 columns]