In [13]:
import pandas as pd

# Load the CSV file
df = pd.read_csv("data/financials_raw.csv", encoding="ISO-8859-1")

/var/folders/wk/s65gzdnd2zq9zgz4swg1smsw0000gn/T/ipykernel_97735/4115356464.py:4: DtypeWarning: Columns (3,4,8,10,12) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("data/financials.csv", encoding="ISO-8859-1")

In [14]:
# Display the column names
print(df.columns)

Index(['ENTITY_CURRENCY', 'CURRENCY', 'EXCHANGE_RATE', 'SOLD_TO_CITY',
       'SOLD_TO_COUNTRY', 'INVOICE_DATE', 'INVOICE_YEAR', 'INVOICE_MONTH',
       'UNIT_OF_MEASURE', 'INV_LINE_SEQ__CRM_USAGE_ONLY_', 'ITEM_CODE',
       'ITEM_EU_FAMILY', 'IS_INTERCO_FLAG', 'INVOICED_QUANTITY',
       'INVOICE_LIST_PRICE', 'INVOICE_PRICE', 'INVOICE_STD_COST',
       'ITEM_MATERIAL_COST', 'ITEM_LABOR_COST', 'ITEM_BURDEN_COST',
       'ITEM_OVERHEAD_COST', 'ITEM_SUBCONTRACTING_COST', 'ITEM_STANDARD_COST',
       'SALES_FUNCTIONAL_CURRENCY', 'COGS', 'GROSS_AMOUNT', 'DISCOUNT_AMOUNT',
       'FY', 'Financial Period', 'FY Period', 'EntityID', 'InvoiceID',
       'SoldToID', 'ItemCodeID', 'Multiplicator'],
      dtype='object')

In [15]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6439207 entries, 0 to 6439206
Data columns (total 35 columns):
 #   Column                         Dtype
---  ------                         -----
 0   ENTITY_CURRENCY                object
 1   CURRENCY                       object
 2   EXCHANGE_RATE                  float64
 3   SOLD_TO_CITY                   object
 4   SOLD_TO_COUNTRY                object
 5   INVOICE_DATE                   object
 6   INVOICE_YEAR                   int64
 7   INVOICE_MONTH                  int64
 8   UNIT_OF_MEASURE                object
 9   INV_LINE_SEQ__CRM_USAGE_ONLY_  float64
 10  ITEM_CODE                      object
 11  ITEM_EU_FAMILY                 float64
 12  IS_INTERCO_FLAG                object
 13  INVOICED_QUANTITY              float64
 14  INVOICE_LIST_PRICE             float64
 15  INVOICE_PRICE                  float64
 16  INVOICE_STD_COST               float64
 17  ITEM_MATERIAL_COST             float64
 18  ITEM_LABOR_COST                float64
 19  ITEM_BURDEN_COST               float64
 20  ITEM_OVERHEAD_COST             float64
 21  ITEM_SUBCONTRACTING_COST       float64
 22  ITEM_STANDARD_COST             float64
 23  SALES_FUNCTIONAL_CURRENCY      float64
 24  COGS                           float64
 25  GROSS_AMOUNT                   float64
 26  DISCOUNT_AMOUNT                float64
 27  FY                             object
 28  Financial Period               object
 29  FY Period                      object
 30  EntityID                       int64
 31  InvoiceID                      int64
 32  SoldToID                       int64
 33  ItemCodeID                     int64
 34  Multiplicator                  float64
dtypes: float64(18), int64(6), object(11)
memory usage: 1.7+ GB
None

In [23]:
# Total GROSS_AMOUNT by INVOICE_MONTH AND INVOICE_YEAR, as int, formatted as $#,###,###.##
# Also the count of invoices for each month and year
total_gross_amount = (
    df.groupby(["INVOICE_MONTH", "INVOICE_YEAR"])
    .agg(
        GROSS_AMOUNT=("GROSS_AMOUNT", "sum"),
        INVOICE_COUNT=("INVOICED_QUANTITY", "sum"),
    )
    .reset_index()
)
total_gross_amount['GROSS_AMOUNT'] = total_gross_amount['GROSS_AMOUNT'].apply(lambda x: f"${x:,.2f}")
total_gross_amount['INVOICE_COUNT'] = total_gross_amount['INVOICE_COUNT'].astype(int)

# sort by INVOICE_YEAR and INVOICE_MONTH
total_gross_amount = total_gross_amount.sort_values(by=["INVOICE_YEAR", "INVOICE_MONTH"])
print(total_gross_amount)

    INVOICE_MONTH  INVOICE_YEAR     GROSS_AMOUNT  INVOICE_COUNT
26             11          2020       $12,585.31           2042
29             12          2020  $213,571,032.10        1769806
0               1          2021  $174,887,648.00        1370200
3               2          2021  $183,058,237.85        1055032
6               3          2021  $218,297,981.31        1132935
9               4          2021  $218,547,705.31        1013208
12              5          2021  $187,152,210.72         919287
15              6          2021       $41,608.57             21
30             12          2021  $193,484,742.68         880759
1               1          2022  $215,569,187.28         834138
4               2          2022  $204,574,156.10         828166
7               3          2022  $205,778,009.24        1003299
10              4          2022  $190,809,688.94         752260
13              5          2022  $180,731,558.45         907737
16              6          2022  $191,227,232.01         772114
18              7          2022  $196,726,283.87         642068
20              8          2022  $166,622,116.35         661069
22              9          2022  $177,602,247.24         735332
24             10          2022  $179,465,803.52         730585
27             11          2022  $225,152,055.96         701389
31             12          2022  $162,929,536.88         629520
2               1          2023  $187,559,832.55         777808
5               2          2023  $202,968,337.98         810422
8               3          2023  $206,917,604.38         822664
11              4          2023  $149,339,422.60         549457
14              5          2023  $181,602,267.46         638026
17              6          2023  $194,377,529.94         697792
19              7          2023  $167,946,598.87         609156
21              8          2023  $186,510,495.56         740135
23              9          2023  $175,745,033.77         700419
25             10          2023  $205,347,650.96         671841
28             11          2023  $200,778,218.28         646410
32             12          2023          $370.15              2